# Created by https://www.toptal.com/developers/gitignore/api/scala,metals,bloop,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=scala,metals,bloop,visualstudiocode

### Bloop ###
.bloop/

### Metals ###
.metals/
project/**/metals.sbt

### Scala ###
*.class
*.log
.scala-build
.bsp

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
.vscode/*.code-snippets

# Ignore code-workspaces
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/scala,metals,bloop,visualstudiocode


.DS_Store
coordinates
coordinates_org
coordinates_processed
errors
lstm_tasty.py
out/
out_all.csv
resutls.txt
trains/
ttmpcords
